---
import Layout from '../layouts/Layout.astro';

import { FileUploader } from '@/components/FileUploader.jsx'
import { PDFGenerator } from '@/components/PDFGenerator.jsx'
import fs from 'fs'

const pdfPath = 'public/S-13_S.pdf'
const basePdf = fs.readFileSync(pdfPath);
---

<Layout title="xlsx -> pdf">
	<main class="flex flex-col gap-y-8 justify-center items-center h-full">
		<h1 class="text-5xl text-center font-extralight">EXPORTA TU REGISTRO A PDF</h1>
		<FileUploader client:load/>
		<PDFGenerator basePdf={basePdf} client:load/>
	</main>
</Layout>