---
import Layout from '@/layouts/Layout.astro';

import { FileUploader } from '@/components/FileUploader.jsx'
import { PDFGenerator } from '@/components/PDFGenerator.jsx'
import fs from 'fs'

const pdfPath = 'public/S-13_S.pdf'
const basePdf = fs.readFileSync(pdfPath);
---

<Layout title="xlsx -> pdf">
	<main class="flex flex-col gap-y-8 justify-center items-center h-full">
		<h1 class="text-5xl text-center font-extralight">EXPORTA TU REGISTRO A PDF</h1>
		<FileUploader client:load/>
		<PDFGenerator basePdf={basePdf} client:load/>
		<span>o</span>
		<a href="/dashboard" class="bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded">Abre tu archivo desde Google Sheets</a>
	</main>
</Layout>