---
import Layout from '../layouts/Layout.astro';

import { FileUploader } from '@/components/FileUploader.jsx'
---

<Layout title="xlsx -> pdf">
	<main class="flex flex-col gap-y-8 justify-center items-center h-full">
		<h1 class="text-5xl">IMPORTA TU REGISTRO A PDF</h1>
		<FileUploader/>
	</main>
</Layout>

<script>
	let selectedFile: any;

	// document.getElementById("fileUpload")?.addEventListener("change", async function(event) {
	// 	const selectedFile = event.target?.files[0];

	// 	const reader = new FileReader();

	// 	reader.onload = (e) => {
	// 		const data = new Uint8Array(e.target.result);
	// 		console.log({data});

	// 		fetch("/api/read-file", {
	// 			method: 'POST',
	// 			body: data
	// 		})
	// 		.then(response => response.json())
	// 		.then(data => {
	// 			// Aquí puedes manejar la respuesta de la API
	// 			console.log('Respuesta de la API:', data);
	// 		})
	// 		.catch(error => console.error('Error:', error));

	// 	};

		
	// });
	
  </script>