---
// interface Props {
//   id?: string,
//   href?: string,
//   sideBarActiveItemID?: string
// }

// const activeClass = "bg-base-300";
// const { id, href, sideBarActiveItemID } = Astro.props
---

<!-- <li class="transition duration-300">
  <a
    class="flex gap-4 items-center py-3 px-5 font-medium"
    href={href}
    id={id}
  >
    <slot />
  </a>
</li>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script> -->